[submodule "software/firmware/components/sensors/ESP32_Sensor"]
	path = software/firmware/components/sensors/ESP32_Sensor
	url = https://github.com/sicrisembay/ESP32_Sensor.git
	branch = master
[submodule "software/firmware/components/esp-idf"]
	path = software/firmware/components/esp-idf
	url = https://github.com/espressif/esp-idf.git
	branch = release/v3.3
[submodule "software/firmware/components/sensors/ULP_Sensor"]
	path = software/firmware/components/sensors/ULP_Sensor
	url = https://github.com/sicrisembay/ULP_Sensor.git
[submodule "software/firmware/components/qpc"]
	path = software/firmware/components/qpc
	url = https://github.com/sicrisembay/qpc.git
	branch = esp32_support
[submodule "software/firmware/components/esp-aws-iot"]
	path = software/firmware/components/esp-aws-iot
	url = https://github.com/espressif/esp-aws-iot.git
